main {
    background-color: $component-bg;
    width: 90%;
    margin: auto;
    padding: 2rem 1rem;
    border-radius: .5rem;
    
    .pageviews {
        font-size: .8rem;
        font-weight: 800;
        letter-spacing: 1px;
        text-align: center;
        text-transform: uppercase;
    }

    input {
        width: 100%;
        margin: 1.5rem 0;
    }

    input[type=range] {
        -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
        width: 100%; /* Specific width is required for Firefox. */
        height: .5rem;
        border-radius: 1rem;
        background-color: hsl(224, 65%, 95%); /* Otherwise white in Chrome */
      }

      input[type=range]:focus {
        outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
      }
      
      input[type=range]::-ms-track {
        width: 100%;
        cursor: pointer;
      }

      input[type=range]::-webkit-slider-thumb {
        appearance: none;
        background-image: url(./../../images/icon-slider.svg);
        background-color: hsl(174, 86%, 45%);
        background-repeat: no-repeat;
        background-position: center;
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 50%;
        cursor: pointer;
        outline: 0;
        border: 0;
        /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
      }

      input[type=range]::-moz-range-thumb {
        appearance: none;
        background-image: url(./../../images/icon-slider.svg);
        background-color: hsl(174, 86%, 45%);
        background-repeat: no-repeat;
        background-position: center;
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 50%;
        cursor: pointer;
        outline: 0;
        border: 0;
        /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
      }

      input[type=range]::-ms-thumb {
        appearance: none;
        background-image: url(./../../images/icon-slider.svg);
        background-color: hsl(174, 86%, 45%);
        background-repeat: no-repeat;
        background-position: center;
        width: 2.4rem;
        height: 2.4rem;
        border-radius: 50%;
        cursor: pointer;
        outline: 0;
        border: 0;
        /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
      }

      input[type='range'] {
        -webkit-appearance: none;
        background-color: #9a905d;
      }
      
      input[type='range']::-webkit-slider-runnable-track {
        -webkit-appearance: none;
        color: #13bba4;
        margin-top: -1px;
      }


TU WZNOW





    .money-per-month {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2rem 0;
        span {
            font-size: 2.5rem;
            font-weight: 800;
            color: hsl(227, 35%, 25%);
            margin: 0 .5rem;
        }
    }

    .billing {
        display: flex;
        flex-direction: row;
        justify-content: center;
        column-gap: 1rem;
        margin-bottom: 2rem;

        .switch {
            width: 2.8rem;
            height: 1.45rem;
            border-radius: 1rem;
            padding: 0 .35rem;
            display: flex;
            justify-content: center;

            background-color: hsl(223, 50%, 87%);

            .floater {
                width: .9rem;
                height: .9rem;
                background-color: white;
                border-radius: 50%;
                transition: .3s;
                align-self: flex-start;
            }

            .active {
                align-self: flex-end;
            }
        }

        .monthly {
            justify-content: flex-end;
        }

        .billing-text {
            display: flex;
            flex-direction: row;
            width: 41%;
            font-size: .8rem;
        }

        div.discount {
            margin-left: .5rem;
            background-color: hsl(14, 92%, 95%);
            font-size: .7rem;
            font-weight: 900;
            color: hsl(15, 100%, 70%);
            padding: .2rem .35rem;
            border-radius: 1rem;
        }

        
    }

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .main-bottom {

        border-top: 1px hsl(223, 50%, 87%) solid;
        .list {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 1rem 0;

            span {
                margin: .3rem 0;

                img {
                    margin: 0 1rem 0 0;
                }
            }
        }

        button {
            width: 12rem;
            padding: .8rem 2rem;
            border-radius: 5rem;
            border: 0;
            background-color: hsl(227, 35%, 25%);
            color: hsl(225, 20%, 60%);
        }
    }
}

@media only screen and (max-width: 768px) {
    .discount-text {
        display: none;
    }
}